.budget-input {
  width: 10rem;
}

.budget-number {
  font-size: 4rem;
}

.expense-submit {
  margin-left: auto;
  margin-right: auto;
}

.transaction-table {
  width: 100%;
  background-color: #e8e8e8d6;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding-left: 0.5rem;
}

.t-remove {
  text-align: center;
  padding: 0;
}

.budget-display-card {
  display: none;
}

.expense-row {
  background-color: rgba(255, 0, 0, 0.15);
}

.income-row {
  background-color: rgba(0, 128, 0, 0.15);
}
